/* @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap'); */
@font-face {
  font-family: 'Brut Display';
  src: url('fonts/BrutDisplay-Regular.otf') format('otf'), url('fonts/BrutDisplay-Regular.ttf') format('ttf');
}
body {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background: #5ac28b; */
  margin: 0;
}

a,
u {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
